*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
}







.back{
    background-image: url(image/AI-is-coming.jpg);
    background-size: cover;
    height: 100vh;
    position: fixed;
    width: 100%;

}

.board{
    border: 3px solid #010e1f;
    height: 300px;
    width: 300px;
    margin-top: 180px;
    margin-left: 500px;
    background-color: #010e1f;



    
}
#put{
    margin-left: 60px;
    margin-top: 20px;
    width: 150px;
    height: 30px;
}
#bot{
    width: 40px;
    height: 30px; 
    position: relative;
    top: 0px;
    right: 6px;
    background-color: #234369ff;
    border: 0px solid #234369ff;
    color: azure;
    
}

#last{ border: 2px solid aliceblue;
    height: 30px;
    width: 100px;
    margin-top: 20px;
    margin-left: 100px;
    background-color: aliceblue;
    text-align: center;
    padding-top: 3px;
    font-size: 20px;

}

.grade{
    margin-left: 60px;
    margin-top: 70px;
    font-weight: bolder;
    color: aliceblue;

}

.base{
    margin-left: 10px;
    margin-top: 12px;
    font-size: small;
    font-weight: bolder;
    text-decoration: wavy;
    color: white;
}
.board:hover{
    background-color:#010e1f ;
    
    border: #010e1f;

}
#bot:hover{
    background-color: #010e1f;
}






@media screen and (max-width: 475px) {
    .back{
        background-image: url(image/AI-is-coming.jpg);
        background-size: cover;
        height: 100vh;
        position: fixed;
        width: 100%;
    
    }

    .board{
        border: 2px solid #010e1f;
        height: 300px;
        width: 300px;
        margin-top: 250px;
        margin-left: 60px;
        background-color: #010e1f;
    
    
    
        
    }



    .board:hover{
        background-color: #234369ff;

    }
    
}